<!DOCTYPE html>
<html>
<head>
    <title>PASOKA ERROR 404</title>
    <style>
        body {
            background: #f0f0f0;
        }
    </style>
</head>
<body>
    <h1>Doo-Doo!!</h1>
    <h3>Page '{|$url|}' not found</h3>
</body>
</html>